body {
    background: #111;
    color: #eee;
    font-family: Arial, sans-serif;
    padding: 30px;
}

button {
    padding: 12px 20px;
    font-size: 18px;
    background: #222;
    color: white;
    border: 1px solid #555;
    cursor: pointer;
}

button:hover {
    background: #333;
}
